{% extends 'admin_base.html' %}


{% block content %}
<main class="container">
    <h2>Add Product</h2>

    <!-- Add Product Form -->
    <form id="addProductForm" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="productName" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="productName" name="productName" required>
      </div>

      <div class="mb-3">
        <label for="productCategory" class="form-label">Category</label>
        <select class="form-select" id="productCategory" name="productCategory" required>
          <option value="sports">Sports Equipment</option>
          <option value="clothing">Sportswear</option>
          <!-- Add more categories as needed -->
        </select>
      </div>

      <div class="mb-3">
        <label for="productPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="productPrice" name="productPrice" required>
      </div>

      <div class="mb-3">
        <label for="productStock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="productStock" name="productStock" required>
      </div>

      <div class="mb-3">
        <label for="productImage" class="form-label">Product Image</label>
        <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" required>
      </div>

      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </main>

{% endblock %}